body,
html {
  height: 100%;
  margin: 0 auto;
  background-image: url("../img/paper.jpg");
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

a {
  text-decoration: none;
}

/* header */
header {
    background-color: #7e767680;
    color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
  
.header-logo {
    font-size: 28px;
    padding: 20px 70px;
}

.gnav__menu{
  display: flex;
  padding-top: 30px;
  padding-right: 40px;
}

.gnav__menu__item{
    margin-left: 30px;
}

.gnav__menu__item a{
    color: #fff;
    text-decoration: none;
}
/* 
.gnav__menu a {
    display: inline-block;
    transition: .3s;
    font-size: 15px;
    padding: 0 .3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(128, 136, 131) 50%);
    background-position: 0 0;
    background-size: auto 200%;
    transition: .3s;
  } */

  /* .gnav__menu a:hover {
    background-position: 0 100%;
    color: #fff;
    transform: rotate(5deg);
  } */


/* mainここから */
main {
  height: 800px;
}


/* fooderここから */
footer{
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background-color: #7e767680;
  color: white;
  text-align: center;
}

ul.footer-menu li {
  display: inline;
}

footer p{
  color: #fff;
}

/* .footer{
justify-content: space-between;
} */

/* sns ボタン */

.sns-button{
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  text-decoration: underline;
}

.sns-button i{
  margin: 8px;
}

.my-red{
  color: rgba(202, 43, 194, 0.829);
}

.my-skyblue{
  color: #1da1f2;
}

.my-blue{
  color: #3b5998;
}